certifi==2017.7.27.1
chardet==3.0.4
idna==2.6
jsonrpclib==0.1.7
MopidyCLI==0.2.0
python-mpd2==0.5.5
PyYAML==3.12
redis==2.10.6
requests==2.18.4
six==1.10.0
slackclient==1.0.7
urllib3==1.26.5
websocket-client==0.44.0
youtube-dl==2017.8.18

